{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "selector-class-pattern": null,
    "string-no-newline": null,
    "function-no-unknown": null,
    "custom-property-pattern": null
  }
}
